:root {
  font-size: 12px;
  line-height: 18px;
  font-family: monospace;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

a:link,
a:visited {
  color: #06F;
}

.header {
  padding: .25rem .5rem;
  position: sticky;
  top: 0;
  display: flex;
  gap: .5rem;
}

.header-button {
  padding: 0 .5rem;
  min-width: 1rem;
  text-align: center;
  cursor: default;
  background-color: #F6F6F6;
  border-radius: .25rem;
}
.header-button:hover {
  background-color: #eee;
}

.textarea {
  border: 0;
  padding: .25rem .5rem;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  resize: none;
}

.data-table {
  display: table;
}
.data-table .th,
.data-table .td {
  padding: .25rem .5rem;
}
.data-table .th {
  font-weight: bold;
}

.tr {
  display: table-row;
}
.th {
  display: table-cell;
}
.td {
  display: table-cell;
}

